<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.github.hanetakachou.image_synthesis.cube_vk">
	<uses-sdk android:minSdkVersion="24" />
	<application android:hasCode="false">
		<meta-data android:name="com.android.graphics.injectLayers.enable" android:value="true" />
		<activity android:name="android.app.NativeActivity" android:exported="true" android:theme="@style/LocalTheme"
			android:screenOrientation="landscape"
			android:configChanges="density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode">
			<meta-data android:name="android.app.lib_name" android:value="demo-android" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>